<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/macbookpro/Desktop/seleniumproject1/src/main/java/org/example">
        <classes>
            <class name="org.example.Firstpage">
                <methods>
                    <include name="hello"/>
                </methods>
            </class>
            <class name="org.example.secondclass2">
                <methods>
                    <include name="hgello"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>